<div class="thing" id="thing-{{model.thing.id}}">
  <h1>{{model.thing.title}}</h1>
  <p>{{link-to 'Tilbake til tingene!' 'things'}}</p>

  <img class="img thing-image-large" src="{{model.thing.imageLinks.large}}">

  <blockquote class="description">
    <p>{{simple-format model.thing.description}}</p>
    <footer>Sendt inn av {{model.thing.owner}}</footer>
  </blockquote>


  <h3>Kom med tips til hvordan dette skal fikses!</h3>
  <ul class="comments">
    {{#each model.thing.comments as |comment|}}
      <li>
        <blockquote>
          {{simple-format comment.text autoLink="urls"}}
          <small>
            {{comment.name}} ({{moment-from-now comment.created_at date locale='nb'}})
          </small>
        </blockquote>
      </li>
    {{/each}}
  </ul>

  <div class="comment_form">
    {{textarea value=model.new_comment.text placeholder="Kommentar" rows=6}}<br>
    {{input value=model.new_comment.name placeholder="Navn"}}
    {{input value=model.new_comment.email placeholder="E-postadresse (blir ikke vist)" type="email"}}
    {{input value=model.new_comment.thing_id type="hidden"}}
    <button type="submit" {{action 'saveComment' model.new_comment}}>Send inn!</button>
  </div>

  <script>
    Ember.$(function() {
      Ember.$("html, body").scrollTop(Ember.$(".thing").offset().top);
    });
  </script>
</div>
